Redirect Permanent /builds/latest/docs                          https://ci.apache.org/projects/openjpa/trunk
Redirect Permanent /builds/apache-openjpa-2.4.0-SNAPSHOT/docs   https://ci.apache.org/projects/openjpa/2.4.x
Redirect Permanent /builds/apache-openjpa-2.3.1-SNAPSHOT/docs   https://ci.apache.org/projects/openjpa/2.3.x
Redirect Permanent /builds/apache-openjpa-2.2.3-SNAPSHOT/docs   https://ci.apache.org/projects/openjpa/2.2.x
Redirect Permanent /builds/apache-openjpa-2.2.1.1-SNAPSHOT/docs https://ci.apache.org/projects/openjpa/2.2.1.x
Redirect Permanent /builds/apache-openjpa-2.1.2-SNAPSHOT/docs   https://ci.apache.org/projects/openjpa/2.1.x
Redirect Permanent /builds/apache-openjpa-2.0.2-SNAPSHOT/docs   https://ci.apache.org/projects/openjpa/2.0.x
Redirect Permanent /builds/apache-openjpa-1.3.0-SNAPSHOT/docs   https://ci.apache.org/projects/openjpa/1.3.x
Redirect Permanent /builds/apache-openjpa-1.2.4-SNAPSHOT/docs   https://ci.apache.org/projects/openjpa/1.2.x
Redirect Permanent /builds/apache-openjpa-1.0.5-SNAPSHOT/docs   https://ci.apache.org/projects/openjpa/1.0.x
Redirect Permanent /ns/orm                                      https://ci.apache.org/projects/openjpa/trunk/schema

### Javadocs
# __root/docs.openjpa.apache.org/content/ is a special alias as described by INFRA-19439, so we can refer to stuff in other places like SVN:

# Hack: Append slash, if folder name does not end with slash - everything containing a "." is treated as file and excluded from redirect:
RewriteRule ^builds/\d+_\d+_\d+/(?!.+\.\w+$|.+/$).+$   $0/ [R=301,L]
RewriteRule ^builds/\d+_\d+_\d+/.*$       __root/docs.openjpa.apache.org/content/$0 [PT]

# Hack: Append slash, if folder name does not end with slash - everything containing a "." is treated as file and excluded from redirect:
RewriteRule ^docs/\d+_\d+_\d+/(?!.+\.\w+$|.+/$).+$   $0/ [R=301,L]
RewriteRule ^docs/\d+_\d+_\d+/.*$         __root/docs.openjpa.apache.org/content/$0 [PT]
