Redirect Permanent /builds/latest/docs                          http://ci.apache.org/projects/openjpa/trunk
Redirect Permanent /builds/apache-openjpa-2.4.0-SNAPSHOT/docs   http://ci.apache.org/projects/openjpa/2.4.x
Redirect Permanent /builds/apache-openjpa-2.3.1-SNAPSHOT/docs   http://ci.apache.org/projects/openjpa/2.3.x
Redirect Permanent /builds/apache-openjpa-2.2.3-SNAPSHOT/docs   http://ci.apache.org/projects/openjpa/2.2.x
Redirect Permanent /builds/apache-openjpa-2.2.1.1-SNAPSHOT/docs http://ci.apache.org/projects/openjpa/2.2.1.x
Redirect Permanent /builds/apache-openjpa-2.1.2-SNAPSHOT/docs   http://ci.apache.org/projects/openjpa/2.1.x
Redirect Permanent /builds/apache-openjpa-2.0.2-SNAPSHOT/docs   http://ci.apache.org/projects/openjpa/2.0.x
Redirect Permanent /builds/apache-openjpa-1.3.0-SNAPSHOT/docs   http://ci.apache.org/projects/openjpa/1.3.x
Redirect Permanent /builds/apache-openjpa-1.2.4-SNAPSHOT/docs   http://ci.apache.org/projects/openjpa/1.2.x
Redirect Permanent /builds/apache-openjpa-1.0.5-SNAPSHOT/docs   http://ci.apache.org/projects/openjpa/1.0.x
Redirect Permanent /ns/orm                                      http://ci.apache.org/projects/openjpa/trunk/schema

