<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<!--
Licensed to the Apache Software Foundation (ASF) under one or more
contributor license agreements.  See the NOTICE file distributed with
this work for additional information regarding copyright ownership.
The ASF licenses this file to You under the Apache License, Version 2.0
(the "License"); you may not use this file except in compliance with
the License.  You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<html lang="en">
    <head>
        <META http-equiv="Content-Type" content="text/html;charset=UTF-8" />
        <link href="/styles/site.css" rel="stylesheet" type="text/css"/>
        <!-- <link href="/styles/type-settings.css" rel="stylesheet" type="text/css"/> -->
        <link href="/css/type-settings.css" rel="stylesheet" type="text/css"/>
        <LINK rel="schema.DC" href="http://purl.org/DC/elements/1.0/">
        <META name="Description" content="Apache OpenJPA -- {{ page.title }}" />
        <META name="Keywords" content="Apache OpenJPA, JPA, JPA 1.0, JSR-220, JPA2, JPA 2.0, JSR-317, " />
        <META name="Owner" content="dev@openjpa.apache.org" />
        <META name="Robots" content="index, follow" />
        <META name="Security" content="Public" />
        <META name="Source" content="wiki template" />
        <META name="DC.Date" scheme="iso8601" content="2010-08-11" />
        <META name="DC.Language" scheme="rfc1766" content="en" />
        <META name="DC.Rights" content="Copyright © 2006,{{CURRENTYEAR}} The Apache Software Foundation" />
        <META http-equiv="PICS-Label" content='(PICS-1.1 "http://www.icra.org/ratingsv02.html" l gen true r (cz 1 lz 1 nz 1 oz 1 vz 1) "http://www.rsac.org/ratingsv01.html" l gen true r (n 0 s 0 v 0 l 0) "http://www.classify.org/safesurf/" l gen true r (SS~~000 1))'/>
	<style>
	  {% include "styles.css" %}
	</style>
        <title>Apache OpenJPA -- {{page.title}}</title>
    </head>
    <body>
        <div class="white_box">
            <div class="header">
                <div class="header_l">
                    <div class="header_r">
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="content_l">
                    <div class="content_r">
                        <div>
                            <!-- Banner -->
                            <TABLE valign="top" border="0" cellspacing="0" cellpadding="5" width="100%" background="{{base}}images/header-bg3.png">
                                <TR>
                                    <TD valing="top" align="left">
                                        <A href="https://openjpa.apache.org/"><IMG src="/images/openjpa-logo.png" border="0" alt="OpenJPA Logo"></A>
                                    </TD>
                                    <TD width="100%">
                                        &nbsp;
                                    </TD>
                                    <TD valing="top" align="right">
                                        <A href="https://www.apache.org/"><IMG src="/images/asf_logo_wide2.png" border="0" alt="ASF Logo"></A>
                                    </TD>
                                </TR>
                            </TABLE>

                            <!-- Navigation Bar -->
                            <div class="bottom_red_bar">
                                <div id="site-breadcrumbs">
                                </div>
                            </div>

                            <!-- Content -->
                            <table border="0">
                                <tbody>
                                    <tr>
                                        <td valign="top">
                                            <div class="navigation">
                                                <div class="navigation_top">
                                                    <div class="navigation_bottom">
                                                        <!-- NavigationBar -->
                                                        <h3><a name="SideNav-Overview"></a><a href="/overview.html" title="Overview">Overview</a></h3>

                                                        <ul class="alternate" type="square">
                                                            <li><a href="/quick-start.html" title="Quick Start">Quick Start</a></li>
                                                            <li><a href="/downloads.html" title="Downloads">Downloads</a></li>
                                                            <li><a href="/documentation.html" title="Documentation">Documentation</a></li>
                                                            <li><a href="/site-index.html" title="Site Index">Site Index</a></li>
                                                            <li><a href="/license.html" title="License">License</a></li>
                                                            <li><a href="/privacy-policy.html" title="Privacy Policy">Privacy Policy</a></li>
                                                        </ul>

                                                        <h3><a name="SideNav-Community"></a><a href="/community.html" title="Community">Community</a></h3>

                                                        <ul class="alternate" type="square">
                                                            <li><a href="/index.html#Index-eventsandnews" title="Events and News">Events and News</a></li>
                                                            <li><a href="/found-a-bug.html" title="Found a Bug">Found a Bug</a>?</li>
                                                            <li><a href="/get-involved.html" title="Get Involved">Get Involved</a></li>
                                                            <li><a href="/mailing-lists.html" title="Mailing Lists">Mailing Lists</a></li>
                                                            <li><a href="/committers.html" title="Committers">Committers</a></li>
                                                            <li><a href="/integration.html" title="Integration">Integration</a></li>
                                                            <li><a href="/powered-by.html" title="Powered By">Powered By</a></li>
                                                            <li><a href="/thanks.html" title="Thanks">Thanks</a></li>
                                                        </ul>


                                                        <h3><a name="SideNav-Development"></a><a href="/development.html" title="Development">Development</a></h3>

                                                        <ul class="alternate" type="square">
                                                            <li><a href="/downloads-nightly.html" title="Downloads">Nightly Downloads</a></li>                                        
                                                            <li><a href="/source-code.html" title="Source Code">Source Code</a></li>
                                                            <li><a href="/testing.html" title="Testing">Testing</a></li>
                                                            <li><a href="https://issues.apache.org/jira/browse/OPENJPA" class="external-link" rel="nofollow">Issue Tracker</a></li>
                                                            <li><a href="/tools.html" title="Tools">Tools</a></li>
                                                            <li><a href="/samples.html" title="Samples">Samples</a></li>
                                                            <li><a href="/release-management.html" title="Release Management">Release Management</a></li>
                                                        </ul>

                                                        <h3><a name="SideNav-Consumers"></a><a href="/consumers.html" title="Consumers">Consumers</a></h3>

                                                        <ul class="alternate" type="square">
                                                            <li><a href="/tips-n-techniques.html" title="Tips and Techniques">Tips and Techniques</a></li>
                                                            <li><a href="/troubleshoot.html" title="Trouble Shoot">Trouble Shoot</a></li>
                                                        </ul>

                                                        <h3>Search</h3>

                                                        <div style="padding: 5px 5px 0px 25px;">
                                                            <form action="https://www.google.com/search" method="get" style="font-size: 10px;">
                                                                <input name="ie" type="hidden" value="UTF-8">
                                                                <input name="oe" type="hidden" value="UTF-8">
                                                                <input maxlength="255" name="q" size="15" type="text" value=""><br><br>
                                                                <input name="btnG" type="submit" value="Google">
                                                                <input name="domains" type="hidden" value="openjpa.apache.org">
                                                                <input name="sitesearch" type="hidden" value="openjpa.apache.org">
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td valign="top" width="100%" style="overflow:hidden;">
                                            <div class="wiki-content">
                                                {% block content %} {% endblock %}
                                            </div>
                                        </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="bottom_red_bar"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="black_box">
                    <div class="footer">
                        <div class="footer_l">
                            <div class="footer_r">
                                <div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="design_attribution">
                Copyright &copy; 2006,{{CURRENTYEAR}} The Apache Software Foundation. Licensed under <a href="https://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a>.<br />
                Apache, the Apache feather logo and OpenJPA are trademarks of The Apache Software Foundation.<br />
                Other names may be trademarks of their respective owners.<br />
            </div>
    </body>
</html>
